// ----------------------
// == Variables / General
// ----------------------

:root {
  /// ---------------------
  /// STYLE
  /// ---------------------
  --border-radius-small: 4px;
  --border-radius: 6px;
  --border-radius-large: 8px;
  --border-radius-xl: 16px;
  --border-width: 1px;

  /// ---------------------
  /// GRID
  /// ---------------------
  --max-content-width-tiny: 29.5rem; // 472px
  --max-content-width-small: 37.5rem; // 600px
  --max-content-width-medium: 50rem; // 800px
  --max-content-width-large: 76.5rem; // 1224px
  --max-content-width-full: 100%;
}
