:root[data-theme="light"] {
  /* COLOR */
  --background-button-destructive-active: rgb(255, 113, 92);
  --background-button-destructive-default: rgb(245, 72, 63);
  --background-button-destructive-hover: rgb(219, 38, 44);
  --background-button-destructive-text-hover: rgb(254, 228, 226);
  --background-button-primary-active: rgb(138, 120, 238);
  --background-button-primary-default: rgb(98, 77, 227);
  --background-button-primary-hover: rgb(73, 56, 195);
  --background-button-secondary-active: rgb(222, 228, 237);
  --background-button-secondary-default: rgb(255, 255, 255);
  --background-button-secondary-hover: rgb(246, 248, 251);
  --background-button-warning-active: rgb(255, 223, 184);
  --background-button-warning-default: rgb(255, 244, 230);
  --background-component-child: rgb(246, 248, 251);
  --background-component-disabled: rgb(246, 248, 251);
  --background-component-elevated-element: rgb(255, 255, 255);
  --background-component-error: rgb(254, 228, 226);
  --background-component-highlight: rgb(231, 228, 251);
  --background-component-hover-on-darkest: rgb(222, 228, 237);
  --background-component-hover-on-lightest: rgb(246, 248, 251);
  --background-component-info: rgb(219, 236, 254);
  --background-component-input: rgb(255, 255, 255);
  --background-component-parent: rgb(255, 255, 255);
  --background-component-success: rgb(230, 247, 229);
  --background-component-tooltip: rgb(24, 30, 37);
  --background-component-warning: rgb(255, 244, 230);
  --background-surface-marketing-background: rgb(255, 255, 255);
  --background-surface-overlay: rgb(24, 30, 37);
  --background-surface-surface-1: rgb(255, 255, 255);
  --background-surface-surface-2: rgb(246, 248, 251);
  --background-surface-surface-3: rgb(222, 228, 237);
  --background-surface-surface-glass: rgba(255, 255, 255, 0.64);
  --border-button-destructive-default: rgb(219, 38, 44);
  --border-button-destructive-focused: rgb(254, 228, 226);
  --border-button-primary-default: rgb(73, 56, 195);
  --border-button-primary-focused: rgb(231, 228, 251);
  --border-button-secondary-default: rgb(222, 228, 237);
  --border-button-warning-hover: rgb(255, 223, 184);
  --border-component-active: rgb(98, 77, 227);
  --border-component-darkest-border: rgb(92, 111, 138);
  --border-component-error: rgb(245, 72, 63);
  --border-component-lightest-border: rgb(222, 228, 237);
  --design-tokens-viewer-container: rgb(24, 30, 37);
  --design-tokens-viewer-separator: rgb(50, 59, 72);
  --design-tokens-viewer-token-background: rgb(50, 59, 72);
  --design-tokens-viewer-token-icon: rgb(179, 192, 208);
  --design-tokens-viewer-token-name: rgb(222, 228, 237);
  --global-app-violet-base: rgb(98, 77, 227);
  --global-app-violet-dark: rgb(73, 56, 195);
  --global-app-violet-light: rgb(138, 120, 238);
  --global-app-violet-lighter: rgb(231, 228, 251);
  --global-blue-base: rgb(17, 125, 249);
  --global-blue-lighter: rgb(219, 236, 254);
  --global-green-base: rgb(88, 205, 82);
  --global-green-lighter: rgb(230, 247, 229);
  --global-neutral-1: rgb(255, 255, 255);
  --global-neutral-2: rgb(246, 248, 251);
  --global-neutral-3: rgb(222, 228, 237);
  --global-neutral-4: rgb(204, 213, 225);
  --global-neutral-5: rgb(179, 192, 208);
  --global-neutral-6: rgb(120, 139, 165);
  --global-neutral-7: rgb(92, 111, 138);
  --global-neutral-8: rgb(50, 59, 72);
  --global-neutral-9: rgb(24, 30, 37);
  --global-orange-base: rgb(255, 142, 5);
  --global-orange-light: rgb(255, 223, 184);
  --global-orange-lighter: rgb(255, 244, 230);
  --global-red-base: rgb(245, 72, 63);
  --global-red-dark: rgb(219, 38, 44);
  --global-red-light: rgb(255, 113, 92);
  --global-red-lighter: rgb(254, 228, 226);
  --icon-default: rgb(120, 139, 165);
  --icon-disabled: rgb(204, 213, 225);
  --icon-error: rgb(245, 72, 63);
  --icon-info: rgb(17, 125, 249);
  --icon-on-colored-bg: rgb(255, 255, 255);
  --icon-selected: rgb(98, 77, 227);
  --icon-success: rgb(88, 205, 82);
  --icon-warning: rgb(255, 142, 5);
  --skeleton-default: rgb(246, 248, 251);
  --text-active: rgb(98, 77, 227);
  --text-error: rgb(245, 72, 63);
  --text-high-emphasis: rgb(24, 30, 37);
  --text-info: rgb(17, 125, 249);
  --text-low-emphasis: rgb(120, 139, 165);
  --text-medium-emphasis: rgb(50, 59, 72);
  --text-on-colored-bg: rgb(255, 255, 255);
  --text-success: rgb(88, 205, 82);
  --text-warning: rgb(255, 142, 5);
}
