// ========================================================================================
// Base | Default, single element selectors that will look the same regardless of location.
// ========================================================================================

html {
  min-height: 100vh;
  text-size-adjust: 100%;
  // Mobile First Approach
  // Refer to https://prowebtype.com/setting-type/
  font-family: var(--font-text), serif;
  font-size: 100%;
  font-weight: 400;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: var(--scroll-behavior, auto);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// ---------------------------------
// GENERAL SETTINGS
// ---------------------------------

body {
  display: flex;
  position: relative;
  font-family: var(--font-text);
}

p,
a,
ul,
blockquote,
figcaption {
  @include text-body-m;
}

picture {
  display: block;
}

img {
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  background-color: var(--background-surface-surface-3);
}

// From: https://twitter.com/hybrid_alex/status/1100761636414074880
a:not([class]) {
  display: inline-flex;
  text-decoration-skip-ink: auto;
  text-decoration: none;

  &,
  &:visited {
    color: var(--text-info);
  }

  &:hover {
    text-decoration: underline;
  }
}

// ----------------------------------
// Use CSS attribute selectors to display links
// when <a> has no text value but the `href` has a link.
// https://github.com/alphagov/govuk-frontend/blob/master/src/globals/scss/core/_links.scss#L28
// ----------------------------------
a[href^='http']:empty::before {
  content: attr(href);
}

::selection {
  background: var(--global-app-violet-base);
  color: var(--text-on-colored-bg);
  text-shadow: none;
}

*::-moz-focus-inner {
  border-width: 0 !important;
  border-style: none !important;
  padding: 0 !important;
}

input,
button,
textarea,
:focus {
  // You should add some other style for :focus to help UX/a11y
  outline: none;
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
  // Technically not supported in Electron yet
  user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
  // Technically not supported in Electron yet
  user-drag: auto;
}

// specify the font family of code elements
code,
kbd,
pre,
samp {
  font-family: var(--font-code), monospace;
}

@media (prefers-reduced-motion: reduce) {
  // Disable animation when reduced motion active
  * {
    animation: none !important;
    transition: none !important;
  }

  // Disable smooth scrolling when users
  // have prefers-reduced-motion enabled
  html {
    scroll-behavior: auto;
  }
}

// Used to make the storybook component
// wrapper take all viewport width
#root {
  width: 100%;
}