:root {
  /* COLOR */
  --colors-black: hsl(226, 18%, 14%);
  --colors-green: hsl(175, 36%, 47%);
  --colors-grey: hsl(214, 26%, 84%);
  --colors-primary: hsl(14, 73%, 55%);
  --colors-white: hsl(0, 0%, 100%);
}
