@font-face {
  font-family: "inter-medium";
  src: url("inter-medium.woff2") format("woff2"),
    url("inter-medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("montserrat-bold.woff2") format("woff2"),
    url("montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
