@font-face {
  font-family: "inter-medium";
  src: url("../fonts/inter-medium.woff2") format("woff2"),
    url("../fonts/inter-medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
