.body-text-style {
  font-family: sora-bold, serif;
  font-size: 24px;
  line-height: 1.08;
}

.code-text-style {
  font-family: fira-code-regular, serif;
  font-size: 13px;
  line-height: 1.54;
}

.subtitle-text-style {
  font-family: sora-semi-bold, serif;
  font-size: 36px;
  line-height: 1.39;
}

.title-text-style {
  font-family: sora-semi-bold, serif;
  font-size: 52px;
  line-height: 1.04;
}
