:root {
  /* COLOR */
  --baguette-darken: rgb(243, 168, 71);
  --baguette-default: rgb(254, 189, 105);
  --baguette-lighten: rgb(251, 225, 167);
  --capetien-darken: rgb(120, 120, 120);
  --capetien-default: rgb(0, 85, 164);
  --capetien-lighten: rgb(196, 220, 255);
  --color-oriflamme-darken: rgb(208, 2, 27);
  --color-oriflamme-default: rgb(239, 65, 53);
  --color-oriflamme-lighten: rgba(239, 65, 53, 0.64);
  --neutral-cod-gray: rgb(17, 17, 17);
  --neutral-gray-chateau: rgb(162, 170, 179);
  --neutral-white: rgb(255, 255, 255);
  --neutral-white-good: rgb(255, 255, 255);
  --neutral-wild-sand: rgb(244, 244, 244);
}